table {
    width: 800px;
    margin: auto;
}
table ,tr, td, th{
    padding: 8px;
    border: 1px solid black;
    border-collapse: collapse;
    line-height: 1.5;
}
h4 {
    padding: 0px;
    margin-bottom: 0;
}
th {
    background-color: lightblue;
    text-align: left;
}