.ordered-Lists {
    list-style-type: lower-alpha;
}

.unordered-Lists {
    list-style-type: none;
    padding-left: 0px;
}

#button-login {
    background-color: greenyellow;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

#button-signup {
    background-color: greenyellow;
    padding: 8px 16px;
    border: 2px solid lightblue;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

#button-login:hover {
    background-color: lawngreen;
    color: red;
}

#button-disabled {
    background-color: greenyellow;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: not-allowed;
    opacity: 0.6;
}