button {
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    outline: none;
}

#btn-facebook {
    background-color: #3b5993;
}

#btn-Google {
    background-color: #dd4b3d;
}

#btn-GitHub {
    background-color: #000000;
}

.label{
    padding-left: 8px;
}