{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="shortcut icon" type="image/ico" href="{% static 'Management/favicon.ico' %}"/>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
      <title>
        {% block title %}
        {{ page_title|default:"Payroll Management System" }}
        {% endblock title %}
    </title>
      <link href="{% static 'Management/styles.css' %}" rel="stylesheet">
   </head>
   <body>
      <div id="root">
         <div class="container">
            <div class="sidebar user">
               <div>
                  <a href="{% url 'Management:Home' %}">
                     <div class="avatar shine">
                        <img src="https://res.cloudinary.com/garvitjoshi9/image/upload/v1594407409/Git-Hub/1_4_ebmyhb.jpg" class="profile" alt="Company Picture">
                     </div>
                  </a>
                  <h1>Payroll Management System</h1>
                  <p>A Reliable Management System made for the Elites.</p>
               </div>
               <div>
                  <h3>Favorites:</h3>
                  <div class="skills">
                     {% for fav in favorites %}
                     <span>{{ fav }}</span>
                     {% empty %}
                     <p>No Such Favorites</p>
                     {% endfor %}
                  </div>
               </div>
               <div class="details">
                  <h3>About Developer:</h3>
                  <div><i class="fab fa-github-alt"></i><a href="https://github.com/garvit-joshi" target="_blank" rel="noopener noreferrer" style="color: inherit;">@garvit-joshi</a></div>
                  <div><i class="fas fa-building"></i><a href="https://www.lpu.in/" target="_blank" rel="noopener noreferrer" style="color: inherit;">Lovely Professional University</a></div>
                  <div><i class="fas fa-map-marker-alt"></i><a href="https://www.google.com/search?q=Phagwara+Punjab" target="_blank" rel="noopener noreferrer" style="color: inherit;">Phagwara, Punjab</a></div>
               </div>
            </div>
            <div class="main">
               <div class="repoContainer">
                  {% block body %}
                  {% endblock body %}
               </div>
               <div class="repoContainer">
                  {% block sec_body %}
                  {% endblock sec_body %}
               </div>
            </div>
         </div>
      </div>
   </body>
</html>